html, body{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}


body
{
    background: url("../img/54.jpg");
    color: white;
    margin-bottom: 60px;

}

#container
{
    padding: 10px;
    width: 99%;
}

#header
{
    padding: 10px;
}

#header h1
{
    text-align: center;
}
#page li
{
   list-style-type: none;
}

#page ul
{
    padding-left: 0;
}

#menu
{
    position: fixed;
width: 15%;
}

#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a
{
    display: block;
    background-color: #507299 ;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 10px;

  }

#menu a:hover
{

    background: url("../img/9.png");
    padding-left: 40px;
    margin-left: 40px;
    color: black;
    transition-duration: 1s;
}

.todayDate
{
    text-align: right;
}

.pageListHeader
{
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.pageListRow
{
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2px;
    text-align: center;
}

.pageListRowPageName a
{
    color: #ffffff;
    width: 150px;
    text-align: center;

}

.pageListRowPageDelete
{
    text-align: center;
}

.pageListRowPageDelete a
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}

.form
{
  margin-top: 20%;
  margin-left:30%;

}

.news
{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    margin-bottom: 2%;
}

.news_content
{
    padding: 0% 4%;
}

.news_img
{
    margin: 0px;
    padding: 0px;
    background-color: red;
}

.news_title_content
{
    text-align: justify;
}


.next a
{
    display: block;
    background-color: #BBBBBB;
    color: white;
    padding: 10px;
    width: 8%;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
}


.next a:hover
{
    background-color: #4EBAF6;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 60px;
    background: url("../img/9.png");
    color: black;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}