html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 99%;
}


body
{
    background: url("../img/54.jpg");
    color: white;
    margin-bottom: 60px;

}

#content
{
    margin: 0;
    padding: 10px;
}

#header
{
    padding: 10px;
}

#header h1
{
    text-align: center;
}

#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a
{
    display: block;
    background-color: #507299 ;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 10px;

  }

#menu a:hover
{

    background: url("../img/9.png");
    padding-left: 40px;
    margin-left: 40px;
    color: black;
    transition-duration: 1s;
}

#footer
{
    background: url("../img/9.png");
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 60px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 10px 0;
    padding-top: 20px;

}